@use './variables.scss';

@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: PoppinsSemiBold;
  src: url(./fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: PoppinsExtraLight;
  src: url(./fonts/Poppins-ExtraLight.ttf);
}


:root {
  --primaryColor: #1d4ed8;
}

#root {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  overflow-x: hidden;
}

.logo {
  text-align: center;
  display: inline-flex;
  margin-left: 0;
}

h2 {
  font-size: 1.7rem;
  font-family: 'PoppinsBold';
  font-weight: 700;
  margin: 0.8rem;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

h5 {
  font-size: 0.9rem;
  margin: 0;
}

p,
a,
li,
.link-dropdown,
input,
input::placeholder,
select,
option,
textarea,
textarea:focus,
select,
select:focus,
label,
button {
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0;
}

input,
input:focus,
select,
select:focus {
  height: 2.1rem;
  background: transparent;
  border: 1px solid rgba(151, 151, 151, 0.4);
  width: 100%;
  border-radius: 0;
}

input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
}

textarea,
textarea:focus {
  background: transparent;
  width: 100%;
  border: 1px solid #979797;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button {
  border-radius: 0.5rem;
}

button:disabled {
  opacity: 0.7;
}

.t-sm {
  font-size: 0.7rem;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

.primaryColor {
  color: variables.$primaryColor;
}

.b-500 {
  font-weight: 500;
}

.b-600 {
  font-weight: 600;
}

.b-700 {
  font-weight: 700;
}

.flex {
  display: flex;
}

.j-space-between {
  justify-content: space-between;
}

.j-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-x.hidden {
  overflow-x: hidden;
}

.overflow-x.auto {
  overflow-x: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.text-black {
  color: var(--textBlack);
}

::-webkit-scrollbar {
  display: none;
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 1.2rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 600;
}

.text_light {
   font-family: PoppinsExtraLight;
}

.text_semibold {
  font-family: PoppinsSemiBold;
}

.mt-05 {
  margin-top: 0.5rem;
}

@media (max-width: 991px) {
  :root {
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  input,
  select,
  textarea {
    padding-inline: 0.5rem;
  }

  p,
  a,
  li,
  .link-dropdown,
  input,
  input::placeholder,
  select,
  option,
  textarea,
  textarea:focus,
  select,
  select:focus,
  label,
  button {
    font-size: 0.8rem !important;
  }

  .t-sm {
    font-size: 0.7rem !important;
  }
}

@media (max-width: 768px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
