$primaryColor: #1d4ed8;
$background: rgba(215, 237, 253, 0.15);
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;
$isSmallDevice: 768px;
$smallHeight: 400px;
$midHeight: 800px;